<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Seleccione su consola que deseas!</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card *ngFor="let consola of listaConsola">
    <ion-item>
      <img src="{{consola.img}}">
    </ion-item>
    <ion-item>
      <ion-card-header>
        <ion-card-title>
          {{consola.nombreConsola}}
        </ion-card-title>
        <ion-card-title>
          Precio: ${{consola.precio}}
        </ion-card-title>
        <ion-buttons>
          <ion-button>Comprar</ion-button>
        </ion-buttons>
      </ion-card-header>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>Si necesitas ayuda contactanos: PlayMore@pmore.com</ion-title>
  </ion-toolbar>
</ion-footer>
